:root {
  --color-background: #ffffff;
  --color-text: #090909;
  --color-hyperlink: #005bc3;
  --color-codeblock: #f4f4f4;

  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1px;
}

hr {
  border-color: var(--color-text);
  border-width: 0.5px;
}

a {
  color: var(--color-text);
  text-decoration: none;
  font-weight: 500;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 64ch;
  margin: 0 auto;
  background-color: var(--color-background);
  color: var(--color-text);
}

nav {
  padding: 16px;
}

nav > * + * {
  margin-top: 16px;
}

nav ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

nav ul .nav-current {
  font-weight: 700;
}

nav ul > * + * {
  margin-left: 8px;
}

nav li > a {
  color: var(--color-text);
  font-weight: 400;
}

nav #navBrand {
  display: block;
  color: var(--color-text);
  font-size: 1.2rem;
  font-weight: 700;
}

nav #navDivider {
  display: block;
}

main {
  padding: 16px;
  flex-grow: 1;
}

article {
  line-height: 1.5;
}

article > * + * {
  margin-top: 16px;
}

article date {
  display: block;
  font-style: italic;
}

article a {
  color: var(--color-hyperlink);
}

article h1 {
  font-size: 2rem;
}

article ul,
article ol {
  padding-inline-start: 16px;
}

article img {
  width: 100%;
}

article code {
  font-weight: 700;
}

article pre {
  background-color: var(--color-codeblock);
  padding: 16px 24px;
  overflow-x: auto;
}

article pre code {
  font-weight: 400;
}

#writingList {
  list-style: none;
}

#writingList > * + * {
  margin-top: 16px;
}

#writingList li {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#writingList li > * + * {
  margin-top: 8px;
}

@media screen and (min-width: 1024px) {
  header {
    margin: 0;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 32px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul > * + * {
    margin-left: 0;
    margin-top: 8px;
  }

  nav #navDivider {
    display: none;
  }

  main {
    padding: 32px 0;
  }

  #writingList li {
    flex-direction: row;
  }

  #writingList li > * + * {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #090909;
    --color-text: #f2f2f2;
    --color-hyperlink: #007acc;
    --color-codeblock: #222;
  }
}
