:root {
  --color-background: #ffffff;
  --color-text: #090909;
  --color-hyperlink: #007acc;

  font-family: Inconsolata, monospace;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0.1px;
}

hr {
  border-color: var(--color-text);
  border-width: 0.5px;
}

a {
  color: var(--color-text);
  font-weight: bold;
  text-decoration: none;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 80ch;
  margin: 0 auto;
  background-color: var(--color-background);
  color: var(--color-text);
}

main {
  padding: 16px;
  flex-grow: 1;
  line-height: 1.5;
}

main h1 {
  font-size: 1.6rem;
}

main p {
  margin-top: 16px;
}

main ul {
  margin-top: 4px;
  padding-inline-start: 24px;
}

main ul > li {
  padding-left: 4px;
}

main a {
  color: var(--color-hyperlink);
}

@media screen and (min-width: 1024px) {
  header {
    margin: 0;
  }

  nav {
    position: fixed;
    left: 0;
    top: 0;
    padding: 32px;
  }

  nav ul {
    flex-direction: column;
  }

  nav ul > * + * {
    margin-left: 0;
    margin-top: 8px;
  }

  nav #navDivider {
    display: none;
  }

  main {
    padding: 32px 0;
  }

  #writingList > * + * {
    margin-top: 8px;
  }

  #writingList li {
    flex-direction: row;
  }

  #writingList li > * + * {
    margin-top: 0;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #090909;
    --color-text: #f2f2f2;
    --color-hyperlink: #5e94f1;
  }
}
